*{
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
}


 nav{
    width: 100%;
    position: absolute;
    top:50%;
    left:0 ;
    
    display: flex;
 
    justify-content: center;
 }

 nav .logo{
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
    }

 nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    padding-right: 30px 2%;
    padding-top: 0px 10%;
    padding-bottom: 201px;
 }   

 nav ul li a{
    text-decoration:none;
    color: #fff;
    font-size: 17px;
 }

 .content{
    text-align: center;
    
 }

 .content h1{
    
    text-align: center;
    position: fixed;
    top: 50px;
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
 }
 

 

 /* typing
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;

}
.container {
 
  
  display: flex;
  justify-content:center;
  align-items: center;
}
.container p {
  
  font-size: 3rem;
 padding:30px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-family:Copperplate Gothic Light;
  font-weight: normal;
  color: #ede8e5;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);






.bgd{
  
  max-width: 960px;
  
  margin: 0 auto;
 border: 0%;
 padding-bottom: 105px
  
}

.bgd  ul {
  position:fixed;
  text-align:left;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  
}

.bgd  ul li {
  display: inline-block;
  list-style: none;
    display: inline-block;
    margin-left: 80px;
  
  
}


.bgd ul li a {
  font-family:Copperplate Gothic Light;
  text-indent: 65px;
  text-transform:uppercase;
  color: rgba(240, 234, 243, 0.914);
  font-size: 18px;
  text-decoration:underline;
  display: block;
  justify-content: center;
}

.bgd ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(95, 16, 222, 0.1);
  color: rgb(24, 1, 2);
  
}


.bg{
  background-image: url('images/back.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-blend-mode: color-dodge;
  right:0;
  left: 0;
  height: 100vh;
}

.round-photo {
  top:20px;
	width: 25vw;
	height: 25vw;
	margin: auto;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
}

.round-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



 
.bg1{
  background-image: url('images/bg2.jpg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height:100% ;
  background-blend-mode: color-dodge;
  right:0;
  left: 0;
  height: 100vh;
}

bg2{
  background-image: url('images/bg1.jpeg')  ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-blend-mode: color-dodge;
  right:0;
  left: 0;
  height: 100vh;
}


.bg5{
  background-image: url('images/about.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
  background-blend-mode: color-dodge;
  right:0;
  left: 0;
 
}

.headi{
  text-decoration: underline;

  
  


  font-variant: small-caps;
  

  
font-size: 5vh;
  padding-top: 10vh;
  padding-left: 10vh;
}

.headi1{
  font-size: 2vh;
  padding-left: 10vh;
  padding-top: 10vh;
  padding-right: 10vh;
  text-align: justify;
}

.headi2{
  padding-top: 5vh;
  padding-left: 10vh;
  font-size: 2vh;
  text-decoration: underline;
}



.col{
  padding-top: 7vh;
  padding-left: 15vh;
  font-size: 2vh;
  line-height: 1.5;
 
}

.headi3{
  padding-left: 10vh;
  padding-bottom: 5vh;
  padding-top: 4vh;
  text-decoration: underline;
  font-size: 2vh;;

}

.headi5{
  padding-left: 10vh;
  padding-top: 8vh;

  
  text-decoration: underline;
  font-size: 2vh;;

}





.containerd {
  width: 80%;
  margin: 0 auto;
}

/*
=================
Circle Graph using (https://github.com/rendro/easy-pie-chart)
================
*/
.circle-graph p {
	text-align: center;
  padding: 10px;
  z-index: 100;
} 

.graph-one {
  height: 300px; /* set height for postioning */
}

circle-graph-containerd {
  position: relative;
}

canvas {
  position: absolute;
  top: 120px;
}

.circle-graph {
	margin: 20px;
  float: left;
}

/*
=================
Bar Graph 
================
*/
.bar-graph-containerd {
  border-left: 4px solid #000;
  border-bottom: 4px solid #000; 
  width: 60%;
  overflow: hidden;

}

.bar-graph-containerd p {
  padding: 20px;
  color: #fff;
}

@-webkit-keyframes slide-left {
   0% {
     -webkit-transform: translateX(-200%);
  }
  70% {
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(-200%);
  }
  
  70% {
    -webkit-transform: translateX(2%);
  }
  
  100% {
    -webkit-transform: translateX(0);
  }
}

.bar-containerd {
 	background-color: rgba(0, 0, 0, 0.6);   
}

.html {
  width: 85%;
  background-color: #89858a;
  animation: slide-left 0.9s ease-in-out 1s both;
  -webkit-animation: slide-left 0.9s ease-in-out 1s both;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.css {
  width: 80%;
  background-color: #5e565f;
  animation: slide-left 1s ease-in-out 1s both;
 -webkit-animation: slide-left 1s ease-in-out 1s both;
   animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.js {
  width: 60%;
  background-color: #857c86;
  animation: slide-left 1s ease-in-out 1s both;
  -webkit-animation: slide-left 1s ease-in-out 1s both;
   animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.php {
  width: 40%;
  background-color: #948b96;
  animation: slide-left 1s ease-in-out 1s both;
  -webkit-animation: slide-left 1s ease-in-out 1s both;
   animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.drupal {
  width: 62%;
  background-color: #646064;
  animation: slide-left 1s ease-in-out 1s both;
  -webkit-animation: slide-left 1s ease-in-out 1s both;
   animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
} 






body{
  background: #fff;
  font-family:sans-serif;
  font-weight:400;
}
#education-timeline{
  
  position:relative;
  max-width:920px;
  width:100%;
  margin: 0 auto;
  
}
#education-timeline .timeline-start,
#education-timeline .timeline-end{
  display:table;
  font-family:sans-serif;
  font-size:18px;
  font-weight:900;
  text-transform:uppercase;
  background:#F39C12;
  padding:15px 23px;
  color:#fff;
  max-width:5%;
  width:100%;
  text-align:center;
  margin:0 auto;   
}
#education-timeline .education-center-line {
  position:absolute;
  width:3px;
  height:100%;
  top:6vh;
  left:50%;
  margin-left:-2px;
  background:#F39C12;
 
}
#education-timeline .education-timeline-content{
  padding-top:47px;
  padding-bottom:7px;
}
.timeline-degree{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  margin:20px 0px;  
 
}
.timeline-degree .content-left-container,
.timeline-degree .content-right-container{
  max-width:45%;
  width:100%;
}
.timeline-degree .content-left,
.timeline-degree .content-right{
  position:relative;
  width:auto;
  border:1px solid #ddd;
  background-color:#fff;
  
  padding: 27px 27px 25px 2px;
  }
.timeline-degree .content-left{
  box-shadow:0 1px 25px #F39C12 ;
  margin-right:23px;
  padding-left: 15vh;
}
.timeline-degree .content-right{
   box-shadow:0 1px 25px  #F39C12;
  margin-left:22px;
}
.timeline-degree p{
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  
  color: #000;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-degree  span.type{
  position:absolute;
  font-weight:300px;
  font-size:30px;
 display:table;
  top:0px;
  left:-80px;
  color:#F39C12;
  
}
.timeline-degree .content-left-container{
  float:left;
  
}
.timeline-degree .content-right-container{
  float:right;
}
.timeline-degree .content-left:before,
.timeline-degree .content-right:before{
  position:relative;
  top:20px;
  font-size:23px;
  font-family:"FontAwesome";
  color:#000;
}


.timeline-degree .meta-date {
  position: absolute;
  top: 0;
 left: 52%;
  width: 62px;
  height: 62px;
  margin-left: -50px;
  
  color: #fff;
  border-radius: 100%;
  background: #F39C12;
  padding:20px;
}
.timeline-degree .meta-date .year{
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 40px;
}
.education-timeline-content .timeline-degree #last{
  padding-bottom:35px;
  }

.timeline-degree{
  padding-bottom:20px;
  }


.timeline-degree .content-left{
  right:20px;
}
.timeline-degree .content-right{
  left:20px;
}
 .content-left-container .content-left,
 .content-right-container .content-right
{
  color:#00b0bd;
}
 .content-left-container .content-left
{
  padding-left:25px;
}

.fa,.fa-chevron-right{
    color:#F39C12 !important;
  }

/* making it responssive*/
@media only screen and ( max-width:900px )
{
  #education-timeline .timeline-start,
  #education-timeline .timeline-end{
    margin:0;
  }
  #education-timeline .timeline-end{
    margin-left:14px;
  }
  #education-timeline .education-center-line{
    margin-left:0;
    left:55px;
  }
  .timeline-degree .meta-date{
    margin-left: 2vh;
    left:7px;
  }
  .timeline-degree .content-left-container,
  .timeline-degree .content-right-container{
    max-width:100%;
    width:auto;
    float:none;
    margin-left:150px;
    min-height:53px;
  }
  .timeline-degree .content-left-container{
    margin-bottom:20px;
  }
  .timeline-degree .content-left,
  .timeline-degree .content-right {
    
    padding:10px 0px 10px 5px;
    min-height: 65px;
  }
  .content-left-container .content-left{
    padding-left:5px;
  }

  .content-right-container .content-right{
    padding-left:5px; 
    left:-42px;
  }
.fa,.fa-chevron-right{
    display:none !important;
  }
  }
@media only screen and (max-width:400px){
  .timeline-degree p{
    margin:0;
  }
  .timeline-degree .content-left-container span.type{
    display:none;
  }
    .timeline-degree .content-right-container span.type{
    display:none;
  }
  .timeline-degree .content-right-container,
  .timeline-degree .content-left-container{
    min-width:150px;
  }
  
}


/* TRANSITION ABOUT ME*/




.span:not(span[data-flip-key="character- "]) { 
  display: inline-block; 
  
}