body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #000000;
}

a:hover {
  color: #646464;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::selection {
  color: #fff;
  background: rgb(100, 100, 100, 0.5);
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #000000;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #646464;
  transition: background 0.2s ease-in-out;
}


.rounded-circle {
    border-radius: 100px;
}

.navbar {
  overflow: hidden;
  background-color: rgb(100, 100, 100, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  Z-index: 1;
  backdrop-filter: blur(10px);
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  float: right;
  display: flex;
  align-items: center;
  position: flex;
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.4s;
}

.navbar a:hover {
  background: #f1f1f1;
  color: #000;
}

.navbar a.active {
  background-color: #2c2f3f;
  color: #fff;
}

.logo {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  font-size: 27px;
  font-weight: bold;
  margin-left: 20px;
}

.profile img {
  margin: 15px auto;
  display: block;
  width: 300px;
  border: 8px solid #2c2f3f;
}

@media(max-width: 375px) {
  .profile img {
    margin: 15px auto;
    display: block;
    width: 200px;
    border: 8px solid #2c2f3f;
  }
}

.profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.profile .social-links a {
  font-size: 24px;
  display: inline-block;
  background: #212431;
  color: #fff;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

@media(max-width: 375px) {
  .profile .social-links a {
    font-size: 20px;
    display: inline-block;
    background: #212431;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
  }
}

.profile .social-links a:hover {
  background: #ffffff;
  color: rgb(39, 39, 39);
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  background-attachment: fixed;
}

#hero {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;

}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid rgba(5, 13, 24, 0.3);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 43px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media(max-width: 414px) {
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    float: right;
    display: flex;
    align-items: center;
    position: flex;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.4s;
  }
}

@media(max-width: 360px) {
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    float: right;
    display: flex;
    align-items: center;
    position: flex;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 6px;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.4s;
  }

  #hero h1 {
    font-size: 27px;
  }

  #hero p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }
}

@media(max-width: 280px) {
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    float: right;
    display: flex;
    align-items: center;
    position: flex;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 4px;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.4s;
  }

  #hero h1 {
    font-size: 22px;
  }

  #hero p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
}

@media(max-width: 473px) {
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    float: right;
    display: flex;
    align-items: center;
    position: flex;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 6px;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.4s;
  }

  #hero h1 {
    font-size: 32px;
  }

  #hero p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 280px) {
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    float: right;
    display: flex;
    align-items: center;
    position: flex;
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 4px;
    font-size: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.4s;
  }

  #hero h1 {
    font-size: 22px;
  }

    #hero p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.about-bg {
  width: 100%;
  height: 100%;
  background: url("../img/skill-bg.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  padding-top: 60px;
  padding-bottom: 60px;
  backdrop-filter: blur(10px);
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: rgba(5, 13, 24, 0.3);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: rgba(5, 13, 24, 0.3);
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #dce8f8b4;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #8fa8b4;
}

.about .content p:last-child {
  margin-bottom: 0;
}


.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #dce8f8;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #2c2f3f;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #dce8f8;
}

.white {
  color: #dce8f8;
}

.white h2 {
  color: #dce8f8b4;
}
.white a{
    color: #dce8f8b4;
}
.padding20 {
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.edu-bg {
  width: 100%;
  background: url("../img/edu-bg.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
}

.edu .edu-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.edu .edu-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #a8a8a8;
  position: relative;
}

.edu .edu-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #dfe5ee;
  margin-bottom: 10px;
}

.edu .edu-item h5 {
  font-size: 16px;
  background: #02123f3f;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.edu .edu-item ul {
  padding-left: 20px;
}

.edu .edu-item ul li {
  padding-bottom: 10px;
}

.edu .edu-item:last-child {
  padding-bottom: 0;
}

.edu .edu-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #02123f3f;
}

.contact-bg {
  width: 100%;
  background: url("../img/contact-bg.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
}

.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #747474;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ffffff;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #000000;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #000000;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: rgb(255, 255, 255);
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #000000;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
